<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
    <h1>Edit <%= avenger.name%></h1>
    <ul>
    <li><a href = "/">Home</a></li>
    <li><a href = "/">Home</a></li>

    </ul>
    </header>
    </body>
</html>