<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
    <h1>Create an Avenger</h1>
    <nav>
      <ul>
        <li><a href="/">Avengers</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/" method="POST">
      Name: <input type="text" name="name">
      Superpowers: <input type="text" name="superpower">
      <button type="submit"><a href = "/">Create Avenger</a></button>
    </form>
  </main>
    </body>
</html>